@model IEnumerable<Issue> 
@{
    ViewData["Title"] = "Issues";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="text-center">
    <form method="get">
        <button class="btn btn-primary" asp-controller="Issue" asp-action="Add">New Issue</button>
    </form>
</div>

<table class="table table-borderless" style="width:100%">
    <thead>
        <tr>
            <th width="60%">
                Issue
            </th>
            <th width="40%">
                Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    <form method="get">
                        <button class="btn btn-group" asp-controller="Issue" asp-action="Display" asp-route-id="@obj.Id">
                            <div>
                                <h5 style="text-align:left">@obj.Title</h5>
                                <p style="text-align:left; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;">@obj.Content)</p>
                            </div>
                        </button>
                    </form>
                </td>
                <td>
                    @obj.CreatedTime
                </td>
            </tr>
        }
    </tbody>
</table>